body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#calcPad .calcRow #title {
	display: flex;
	justify-content: center;
	align-items: center;
}
#screen {
	display: flex;
	background-color: rgb(172, 172, 172);
	margin: 0px;
	padding: 8px;
	flex-direction: column;
}

#topScreen {
	display: flex;
	justify-content: end;
}

#bottomScreen {
	margin: 0px;
	display: flex;
	flex: auto;
	justify-content: space-between;
}

#leftSide,
#rightSide,
#topText {
	margin: 0px;
	min-height: 18px;
}

#topText {
	font-size: smaller;
}
button {
	min-width: 50px;
	min-height: 50px;
	padding: 0;
	border: 1;
}

.operator {
	background-color: blueviolet;
}
